body{
    background-color: black;
    color: rgb(234, 0, 255);
    text-align: center;
    display: grid;
        align-items: center;
    place-items: center;


} 

.card {
justify-items: center;
    justify-content: center;
   
    border: 4px solid blueviolet;
text-shadow: 
        0 0 10px #bf00ff;
        
       ;
      box-shadow: 
        0 0 10px #bf00ff,
        0 0 20px #a020f0;
    


}
   

